# Assignment 03

# Exploratory Data Analysis (EDA)


#### Bring your own Data and write your own code 

![http://www.pratt.edu/tiny_mce/plugins/imagemanager/files/Light_brown_blue22.jpg](http://www.pratt.edu/tiny_mce/plugins/imagemanager/files/Light_brown_blue22.jpg)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Assignment-03" data-toc-modified-id="Assignment-03-1">Assignment 03</a></span></li><li><span><a href="#Exploratory-Data-Analysis-(EDA)" data-toc-modified-id="Exploratory-Data-Analysis-(EDA)-2">Exploratory Data Analysis (EDA)</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Bring-your-own-Data-and-write-your-own-code" data-toc-modified-id="Bring-your-own-Data-and-write-your-own-code-2.0.0.1">Bring your own Data and write your own code</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Exploratory-Data-Analysis-(EDA)" data-toc-modified-id="Exploratory-Data-Analysis-(EDA)-3">Exploratory Data Analysis (EDA)</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Bring-your-own-Data-and-write-your-own-code" data-toc-modified-id="Bring-your-own-Data-and-write-your-own-code-3.0.0.1">Bring your own Data and write your own code</a></span></li></ul></li></ul></li><li><span><a href="#Instructions" data-toc-modified-id="Instructions-3.1">Instructions</a></span></li><li><span><a href="#Due-Date-Monday-2020/04/13" data-toc-modified-id="Due-Date-Monday-2020/04/13-3.2">Due Date Monday 2020/04/13</a></span></li></ul></li><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-4">Import Libraries</a></span></li><li><span><a href="#1.-Find-some-spatial-Data" data-toc-modified-id="1.-Find-some-spatial-Data-5">1. Find some spatial Data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Where-does-your-data-come-from?" data-toc-modified-id="Where-does-your-data-come-from?-5.0.1">Where does your data come from?</a></span></li><li><span><a href="#Describe-how-your-data-is-generated." data-toc-modified-id="Describe-how-your-data-is-generated.-5.0.2">Describe how your data is generated.</a></span></li><li><span><a href="#Why-did-you-choose-this-data-file?" data-toc-modified-id="Why-did-you-choose-this-data-file?-5.0.3">Why did you choose this data file?</a></span></li></ul></li></ul></li><li><span><a href="#2.-Load-in-your-Geospatial-Data-as-GeoDataFrame" data-toc-modified-id="2.-Load-in-your-Geospatial-Data-as-GeoDataFrame-6">2. Load in your Geospatial Data as GeoDataFrame</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Load-your-file-into-a-GeoDataFrame" data-toc-modified-id="Load-your-file-into-a-GeoDataFrame-6.0.0.1">Load your file into a GeoDataFrame</a></span></li><li><span><a href="#Show-the-head()-of-the-DataFrame" data-toc-modified-id="Show-the-head()-of-the-DataFrame-6.0.0.2">Show the <code>head(</code>) of the DataFrame</a></span></li><li><span><a href="#Show-the-tail()-of-the-DataFrame" data-toc-modified-id="Show-the-tail()-of-the-DataFrame-6.0.0.3">Show the <code>tail(</code>) of the DataFrame</a></span></li><li><span><a href="#(Optional)--Do-any-additional-or-other-Data-Exploration-or-Transformation-to-your-data-in-cell(s)-below;" data-toc-modified-id="(Optional)--Do-any-additional-or-other-Data-Exploration-or-Transformation-to-your-data-in-cell(s)-below;-6.0.0.4">(Optional)  Do any additional or other Data Exploration or Transformation to your data in cell(s) below;</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#3.-Exploratory-Data-Analysis-(EDA)-Plots" data-toc-modified-id="3.-Exploratory-Data-Analysis-(EDA)-Plots-7">3. Exploratory Data Analysis (EDA) Plots</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Plot-the-Distribution-of-one-of-your-data's-columns-in-a-Histogram-Plot-or-some-other-Matplotlib,-Seaborn,-Missingno-plot" data-toc-modified-id="Plot-the-Distribution-of-one-of-your-data's-columns-in-a-Histogram-Plot-or-some-other-Matplotlib,-Seaborn,-Missingno-plot-7.0.0.1">Plot the Distribution of one of your data's columns in a Histogram Plot or some other Matplotlib, Seaborn, Missingno plot</a></span></li><li><span><a href="#(Optional)-Do-any-additional-or-other-Plots-in-cell(s)-below;" data-toc-modified-id="(Optional)-Do-any-additional-or-other-Plots-in-cell(s)-below;-7.0.0.2">(Optional) Do any additional or other Plots in cell(s) below;</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#4.-Map-your-Data" data-toc-modified-id="4.-Map-your-Data-8">4. Map your Data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Create-GeoDataFrame-Map--.plot()-to-see-our-the-spatial-distribution-of-your-data" data-toc-modified-id="Create-GeoDataFrame-Map--.plot()-to-see-our-the-spatial-distribution-of-your-data-8.0.0.1">Create GeoDataFrame Map  <code>.plot()</code> to see our the spatial distribution of your data</a></span></li><li><span><a href="#(Optional)-Do-any-additional-or-other-Maps-in-cell(s)-below;" data-toc-modified-id="(Optional)-Do-any-additional-or-other-Maps-in-cell(s)-below;-8.0.0.2">(Optional) Do any additional or other Maps in cell(s) below;</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#5.-Highlight-any-interesting-findings" data-toc-modified-id="5.-Highlight-any-interesting-findings-9">5. Highlight any interesting findings</a></span></li><li><span><a href="#6.-Present" data-toc-modified-id="6.-Present-10">6. Present</a></span></li></ul></div>

# Exploratory Data Analysis (EDA)


#### Bring your own Data and write your own code 

---


## Instructions


Assignment 03 is fairly open-ended and you can do as much or as little as you like. However, you are **required** to do the following; 


1. **Find** a geospatial data file
2. Read it in as a **GeoDataFrame**
3. **Perform** some **Exploratory Data Analysis** (EDA) by **creating some plots that describe your data**
  - Perhaps plot a Histogram
  - Perhaps plot a Bar Chart
  - Perhaps plot a Scatterplot of two variables
4. **Plot a map**
  - Required: A map title 
  - A larger than default `figsize`. 
5. **Highlight any interesting findings**

6. **Present** your Exploratory Data Analysis to the class **Monday 2020/04/13**
  - Required: Present your Notebook to the class - **5-7 minute presentation in class on Monday 2020/04/13**. 
  - No need for Powerpoint or Slides, **you'll present your Notebook**. 


**Optional**:
You may choose to do the following tasks for more practice and deeper insights. I recommended doing one of the following;

* Perform some Geoprocessing (Reprojection, Buffer, Centroid, Overlay (Intersection, etc)) and plot a map. 
* Thematically style your data map, i.e. a Choropleth, Graduate Symbol, etc. 

If you need some inspiration for data sources try:

* [NYC Open Data](https://opendata.cityofnewyork.us/)
* [NYS Open Data](https://data.ny.gov/)
* [US Data.gov](https://www.data.gov/)

Otherwise **bring your own data**. **Note:** if your data is medical or health patient data or business data where security is an issue, **DO NOT USE BUSINESS SENSITIVE OR Personally Identifiable Information (PII) data**. If you are not sure, ask me in Slack via a Direct Message. 

## Due Date Monday 2020/04/13

This Assignment 03 is **due Monday 2020/04/13**. 

You will be **presenting your Notebook to the class - 5-7 minute presentation in class on Monday 2020/04/13**.  No need for Powerpoint or Slides, you'll present your Notebook.

# Import Libraries
The libraries required for this assignment are imported for you below.

In [61]:
import pandas as pd
import geopandas as gpd 
import numpy as np
import matplotlib.pyplot as plt

# add any additional libraries you need here

In [3]:
%matplotlib inline
# run this cell

# 1. Find some spatial Data

Add some text and links in the sections below.

**IMPORTANT**: If your data file or any component files is greater than 50 MB - please talk to me about `.gitignore`-ing your data before you commit, push your notebook up to GitHub.


### Where does your data come from? 

* **Data Name**: `Type in the official name of your data here, if its personal or professional data, create a name for your data`. 
* **Data Source Name**: `Type the name of the organization that created your data here`
* **Data Source Link**: `<Paste a link to your data if on the internet, if not, leave empty>`

### Describe how your data is generated. 

```Your text describing your data here```

### Why did you choose this data file? 

```Your text describing your data here. Anything from, I'm required to explore this data for my job, I'm lazy and this was the first data I found, or I'm interested in the distribution of Motorcycle Repair shops, etc.```

# 2. Load in your Geospatial Data as GeoDataFrame

#### Load your file into a GeoDataFrame
See **Lesson 03 GeoPandas section** for reference. 

You're being asking to load the GeoDataFrame as a variable named `gdf`. 

```python

gdf = # "read" the file

```

In [2]:
import pandas as pd  # import pandas
# ran successfully at 4/20/20

In [7]:
### your code here
# store the file path to a variable name:
my_CSV_path_name = r'C:\Users\Roger Helms\Documents\ArcGIS\Projects\ACLED\2019-01-01-2020-04-17-Afghanistan.csv'
# read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). 
# Don't forget to put the file name at the end of the path + ".csv"
# ran successfully at 4/20/20

In [8]:
### your code here
# open the .CSV file into a Pandas data frame ('df').
df = pd.read_csv(my_CSV_path_name)  #pd is the variable name of the imported pandas
# ran successfully at 4/20/20

#### Show the `head(`) of the DataFrame

In [9]:
### your code here
df.head(3)
# ran successfully at 4/20/20

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,7058002,4,AFG45107,45107,11 April 2020,2020,2,Explosions/Remote violence,Remote explosive/landmine/IED,Unidentified Armed Group (Afghanistan),...,Kandahar,31.6133,65.7101,3,Herat TV,National,"As reported on 11 April 2020, at least 3 civil...",3,1586794244,AFG
1,7058087,4,AFG45096,45096,11 April 2020,2020,1,Explosions/Remote violence,Remote explosive/landmine/IED,Unidentified Armed Group (Afghanistan),...,Tagab,34.8550,69.6492,2,Pajhwok Afghan News,National,"On 11 April 2020, 2 women and 2 Afghan securit...",4,1586794245,AFG
2,7058129,4,AFG45099,45099,11 April 2020,2020,1,Battles,Armed clash,Taliban,...,Ali Abad,36.5211,68.8998,2,Voice of Jihad,Other,"On 11 April 2020, 1 soldier was killed or woun...",0,1586794245,AFG

#### Show the `tail(`) of the DataFrame

In [10]:
### your code here
df.tail(3)
# ran successfully at 4/20/20
# 15,918 rows

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
15916,6829309,4,AFG15849,15849,01 January 2019,2019,2,Battles,Armed clash,Police Forces of Afghanistan (2014-) Afghan Lo...,...,Dashti Qala,37.2216,69.4975,2,Xinhua,International,"On 01-January-2019, it was reported that 2 Afg...",5,1580846929,AFG
15917,6829310,4,AFG15839,15839,01 January 2019,2019,1,Battles,Armed clash,Military Forces of Afghanistan (2014-),...,Dur Baba,34.0397,70.9300,2,Bakhtar News Agency,National,"On 01-January-2019, 13 Islamic State and Talib...",5,1580846929,AFG
15918,6829311,4,AFG15841,15841,01 January 2019,2019,1,Battles,Armed clash,Military Forces of Afghanistan (2014-),...,Rodat,34.2720,70.5679,2,Bakhtar News Agency,National,"On 01-January-2019, 13 Islamic State and Talib...",4,1580846929,AFG

#### (Optional)  Do any additional or other Data Exploration or Transformation to your data in cell(s) below;

In [11]:
### your optional code here
# rows and columns
df.shape

(15919, 31)

In [20]:
# subselect columns to show
df[['data_id','event_date','notes']].head(3)
# df[['data_id','event_date']].tail(3)

   data_id     event_date                                              notes
0  7058002  11 April 2020  As reported on 11 April 2020, at least 3 civil...
1  7058087  11 April 2020  On 11 April 2020, 2 women and 2 Afghan securit...
2  7058129  11 April 2020  On 11 April 2020, 1 soldier was killed or woun...

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_id           15919 non-null  int64
 1   iso               15919 non-null  int64
 2   event_id_cnty     15919 non-null  object
 3   event_id_no_cnty  15919 non-null  int64
 4   event_date        15919 non-null  object
 5   year              15919 non-null  int64
 6   time_precision    15919 non-null  int64
 7   event_type        15919 non-null  object
 8   sub_event_type    15919 non-null  object
 9   actor1            15919 non-null  object
 10  assoc_actor_1     1131 non-null   object
 11  inter1            15919 non-null  int64
 12  actor2            15895 non-null  object
 13  assoc_actor_2     977 non-null    object
 14  inter2            15919 non-null  int64
 15  interaction       15919 non-null  int64
 16  region            15919 non-null  object
 17  country           15919 non-null  object
 18  admin1            15919 non-null  object
 19  admin2            15919 non-null  object
 20  admin3            0 non-null      float64
 21  location          15919 non-null  object
 22  latitude          15919 non-null  float64
 23  longitude         15919 non-null  float64
 24  geo_precision     15919 non-null  int64
 25  source            15919 non-null  object
 26  source_scale      15919 non-null  object
 27  notes             15919 non-null  object
 28  fatalities        15919 non-null  int64
 29  timestamp         15919 non-null  int64
 30  iso3              15919 non-null  object
dtypes: float64(3), int64(11), object(17)
memory usage: 3.8+ MB

In [21]:
# run canned stats on numeric fields (but no sum)
df.describe()

,data_id,iso,event_id_no_cnty,year,time_precision,inter1,inter2,interaction,admin3,latitude,longitude,geo_precision,fatalities,timestamp
count,1.591900e+04,15919.0,15919.000000,15919.000000,15919.000000,15919.000000,15919.000000,15919.000000,0.0,15919.000000,15919.000000,15919.000000,15919.000000,1.591900e+04
mean,6.839230e+06,4.0,26679.803694,2019.144796,1.143979,1.836610,1.953766,14.862994,NaN,33.937433,67.092506,1.810164,2.882405,1.581256e+09
std,5.257479e+04,0.0,9160.086361,0.351906,0.351258,1.149412,1.595830,8.907301,NaN,1.737713,2.472981,0.452986,5.818624,1.261332e+06
min,6.814496e+06,4.0,15834.000000,2019.000000,1.000000,1.000000,0.000000,10.000000,NaN,29.730000,61.066700,1.000000,0.000000,1.580847e+09
25%,6.818778e+06,4.0,19904.500000,2019.000000,1.000000,1.000000,1.000000,12.000000,NaN,32.426900,65.096400,2.000000,0.000000,1.580847e+09
50%,6.823010e+06,4.0,24020.000000,2019.000000,1.000000,2.000000,1.000000,12.000000,NaN,33.791700,67.269200,2.000000,0.000000,1.580847e+09
75%,6.827192e+06,4.0,28282.500000,2019.000000,1.000000,2.000000,2.000000,12.000000,NaN,35.039700,69.099900,2.000000,4.000000,1.580847e+09
max,7.062222e+06,4.0,45115.000000,2020.000000,3.000000,8.000000,8.000000,80.000000,NaN,38.443500,71.547400,3.000000,165.000000,1.586901e+09

In [27]:
df['fatalities'].sum()

45885

# 3. Exploratory Data Analysis (EDA) Plots

#### Plot the Distribution of one of your data's columns in a Histogram Plot or some other Matplotlib, Seaborn, Missingno plot
If you have a numerical column, otherwise plot a bar plot to show categorical counts. 

* Here's an code example for a bar plot - https://python-graph-gallery.com/1-basic-barplot

In [7]:
### your code here
### The goal is to plot events by day.
#   Create an index column
#   Group events by day.
#   Count events by day.
#   sum fatalities by day.

In [28]:
### your code here
#   Create an index col.
df.reset_index(inplace=True) # creates a numeric index

# ran successfully at 4/20/20

In [34]:
#   Group events by day into a new data frame.
# lesson code to mimic:
#    boro_df[['geog_region', 'boro_population']].groupby(['geog_region']).sum()
#    First we identify the columns we want to get, then, after groupby, 
#    we identify the column on which to group, then the method .sum()
days_df=df[['event_date','fatalities']].groupby(['event_date']).sum()
#    We get a table with a useless sort order unrelated to cronology because the dates are dtype of 'object' (strings)
#    like this:
days_df.head(4)

                  fatalities
event_date
01 April 2019            140
01 April 2020             52
01 August 2019           114
01 December 2019         158

In [54]:
# !!!  AS SENT TO DANNY FOR DEBUGGING - DON'T CHANGE !!!
# I've grouped a table by day to graph it by day.  The order is bad.  To reorder the grouped table
# by day, I'll try to insert and populate a new column with dates as numbers, then sort it.
# An example of how to insert a new column:
#     df.assign(new column name = [data for the new column])
# An example of how to convert the dates to datetime, example:  
#    df['DataFrame Column'] = pd.to_datetime(df['DataFrame Column'], format='%Y%m%d')

# days_df is the name of the table that is grouped by day.
# 'event_datetimes' is the name of the column I hope to insert
# 'event_date' is the existing column of dates as strings (dtype='object')

# here is my broken code:
days_df.assign('event_datetimes' = pd.to_datetime(days_df['event_date'], format='%Y%m%d'))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-54-5a2d9f47b21a>, line 13)

In [62]:
# danny's debug of my attempt to convert string dates to datetime.
df['event_date'] = pd.to_datetime(df['event_date'])

KeyError: 'event_date'

In [ ]:
#danny code for doing a rolling average.
days_df['rolling'] = days_df['fatalities'].rolling(30).mean()

#### (Optional) Do any additional or other Plots in cell(s) below;

In [8]:
### your optional code here
### your optional code here
### your optional code here

# 4. Map your Data

#### Create GeoDataFrame Map  `.plot()` to see our the spatial distribution of your data

For this, please **add argument** `figsize=(10, 10)` inside our `.plot( )` function. 

* Add a title to your `plt` as well. _Hint `plt.title(...)`.

In [9]:
### your code here
### your code here
### your code here

#### (Optional) Do any additional or other Maps in cell(s) below;

In [10]:
### your optional code here
### your optional code here
### your optional code here

# 5. Highlight any interesting findings

If there's any interesting summary statistics or findings or plots in a few key bullet points below, list some interesting notes about your data. 

Examples
* My data is not normally distributed.
* Over 50% of my values for column X are missing values. 
* I have suspicious outliers in my data
* There appears to be some Geographic Distribution or pattern in your data. 
* Variable X appears to be correlated with Variable Y (statistical test(s) not required).

# 6. Present

This will be done in class, you'll need to present your Jupyter Notebook in class. 

**Present** your Exploratory Data Analysis to the class Monday 2020/04/13
  - Required: Present your Notebook to the class - 5-7 minute presentation in class on Monday 2020/04/13. 
  - No need for Powerpoint or Slides, you'll present your Notebook.